{% extends 'user_app/base.html' %}

{% block content %}

<div class="container">

    <form action="rw_sphcontact_url" method='POST'>
        {% csrf_token %}
        <div class="container">

            <div class="row">
                <h4>Row-wise Spherical Contact calculations</h4>
            </div>
            <hr>


            <div class="row">
                <div class="col">
                    <div class="float-end">
                        <input value="Calculate" type="submit" class="btn btn-primary">
                    </div>
                </div>
            </div>

            <hr>

            <div class="row row-cols-5">
                {% for this_form_in in form_in_lst %}
                <div class="col text-center">
                    {{this_form_in.as_p}} 
                </div>
                
                {% endfor %}
            </div>

        </div>

        <hr>

    </form>

</div>

<div class="container">
    <h6><b>Notes</b></h6>
    <ul>
        <li>f is contact force</li>
        <li>v1 is poissons ratio of sphere 1</li>
        <li>v2 is poissons ratio of sphere 2</li>
        <li>e1 is Youngs modulus of sphere 1</li>
        <li>e2 is Youngs modulus of sphere 2</li>
        <li>d1 is diameter of sphere 1</li>
        <li>d2 is diameter of sphere 2</li>
        <li>R is the contact radius of spheres</li>
        <li>S is the contact stress</li>


    </ul>
</div>

<!-- container ends here -->

{% endblock %}