{% extends 'user_app/base.html' %}

{% block content %}

<div class="container">
    <hr>
    <div class="card border-dark mb-3">
        <div class="card-header">
            <h3>Subtraction of 2 numbers</h3>
        </div>

        <div class="card-body">

            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">

                            <form action="sub" method='POST'>
                                {% csrf_token %}
                                {{form_input.as_p}}
                                <input type="submit" class="btn btn-primary">
                                
                            </form>


                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <legend>
                                  Output
                                </legend>

                                <!--{% csrf_token %}-->
                                {{form_output.as_p}}

                            </form>
                        </div>
                    </div>
                </div>
                <!-- local column ends here -->

            </div>
            <!-- row class ends here -->



        </div>
        <!-- main card body ends here -->
    </div>
    <!-- main card ends here -->
</div>
<!-- container ends here -->


{% endblock %}





